@model WebAssignment.ViewModels.ReviewDetailsViewModel
@using WebAssignment.Models
@{
    ViewBag.Title = "Details";
    if (User.IsInRole(RoleName.Administrator))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
}
<br>
<table id="details_table" class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Comment</th>
            <td>@Model.Comment</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>@Model.Rating.ToString()</td>
        </tr>
        <tr>
            <th>Written By</th>
            <td>@Model.WrittenBy</td>
        </tr>
        <tr>
            <th>Date Written</th>
            <td>@Model.DateWritten</td>
        </tr>


    </tbody>
</table>

